
/* Importação da fundação do design */
@import url(reset.css);
@import url(variable.css);
@import url(layout/grid.css);
@import url(layout/aside.css);
@import url(layout/header.css);
@import url(layout/pacientes-grid.css);
@import url(components/search.css);
@import url(components/filters.css);
@import url(components/toolbar.css);
@import url(components/buttons.css);
@import url(components/paciente-info.css);
@import url(components/todos-pacientes.css);
@import url(animation/keyframes.css);

.inativo{
    display: none;
}

.bolinha{
    width: 7px;
    height: 7px;
    border-radius: 100%;
    margin-top: 0.10px;
    background-color: var(--number-color);
}